<form action="#" th:action="@{/positions/add}" th:object="${position}" method="post">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title w-100">Form Tambah Posisi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body text-left">
  
                <!--Radio Posisi-->
                <div class="form-group">
                    <label>Posisi<br>
                        <label class="form-check-label">
                            <input type="radio" name="title" th:value="staff"> Staff
                        </label>
                        <label class="form-check-label">
                            <input type="radio" name="title" th:value="doctor"> Dokter
                        </label>
                        <label  class="form-check-label">
                            <input type="radio" name="title" th:value="patient"> Pasien
                        </label>
                    </label>
                </div>

                <!--Textbox Nama-->
                <div class="form-group">
                    <label for="name">Nama</label>
                    <input type="text" id="name" class="form-control" placeholder="Name" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>