<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Rumah Sakit</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/assets/main.css'
          th:href="@{/assets/main.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--Header-->
<div th:replace="fragment :: header"></div>

<!--Navbar-->
<div th:replace="fragment :: navbar"></div>

<div id="main-page" class="container-fluid d-flex align-items-center text-center">
    <!--Content-->
    <div class="col-sm-4"></div>
    <div id="main" class="col-sm-4 d-flex align-items-center text-center">
        <div id="includedContent" class="container fill">
            <form th:action="@{/positions/edit/{id}(id=${position.id})}" th:object="${position}" method="post">
                <div class="card">
                    <div class="card-body">

                        <!-- Modal Header -->
                        <div class="card-title">
                            <h4 class="modal-title w-100 text-center">Form Ubah Data Posisi</h4>
                        </div>

                        <!-- Card body -->
                        <div class="card-text">
                            <div class="text-left">

                                <!--Radio Position-->
                                <div class="form-row">
                                    <div class="form-group">
                                        <label>Posisi<br>
                                            <label class="form-check-label">
                                                <input type="radio" name="title" th:value="admin" th:field="*{title}"> Admin
                                            </label>
                                            <label class="form-check-label">
                                                <input type="radio" name="title" th:value="staff" th:field="*{title}"> Staff
                                            </label>
                                            <label class="form-check-label">
                                                <input type="radio" name="title" th:value="doctor" th:field="*{title}"> Dokter
                                            </label>
                                            <label class="form-check-label">
                                                <input type="radio" name="title" th:value="patient" th:field="*{title}"> Pasien
                                            </label>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group">

                                        <!--Textbox Name-->
                                        <label for="name">Nama</label>
                                        <input type="text" id="name" class="form-control" placeholder="Name" th:field="*{name}">
                                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-danger" th:href="@{/positions}">Close</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Footer-->
<div th:replace="fragment :: footer"></div>
</body>
</html>
