<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Rumah Sakit</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<!--Header-->
<div id="header" th:replace="fragments/header :: header"></div>

<!--Navbar-->
<div th:replace="fragments/navbar :: navbar"></div>

<div id="main-page" class="container-fluid text-center">
    <!--Content-->
    <div id="main" class="col d-flex align-items-center">
        <div id="includedContent" class="container fill">
            <div class="row text-center content-border">
                <div class="col-sm-6">
                    <button type="button" id="btn-add" class="btn btn-primary" data-toggle="modal"
                            data-target="#addModal"><i
                            class="fa fa-plus"></i>&nbsp;TAMBAH
                    </button>
                </div>
                <div class="col-sm-6">
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                               id="searchKeyword" name="searchKeyword" onchange="retrieveList()">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchButton"
                                name="searchButton" onclick="retrieveList()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>

            <!--Table-->
            <div th:replace="schedules/list-schedule"></div>
        </div>
    </div>
</div>

<!--Footer-->
<div id="footer" th:replace="fragments/footer :: footer"></div>

<!-- Form Add -->
<div class="modal" id="addModal"></div>

<!--Form Edit-->
<div class="modal" id="editModal"></div>

<script>
    $('#btn-add').click(function () {
        $("#addModal").load("/schedules/add");
    });

    function retrieveList(){
        var url = '/schedules/list';

        if($('#searchKeyword').val()!= ''){
            url = url + '/' + $('#searchKeyword').val();
        }

        $('#resultList').load(url);
    }

    function edit(id) {
        var url = '/schedules/edit/' + id;
        $("#editModal").load(url);
    }
</script>
</body>
</html>