<div class="row text-center table-responsive" th:fragment="roleList" id="resultList">
    <table class="table">
        <thead>
        <th scope="col">Posisi</th>
        <th scope="col">Detail Posisi</th>
        <th scope="col">Aksi</th>
        </thead>

        <tbody>
        <tr scope="row" th:each="p : ${roles}">
            <td th:text="${#strings.capitalize(p.title)}">Posisi</td>
            <td th:text="${p.name}">Detail Posisi</td>
            <td>
                <!--Edit Button-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                        th:onclick="'edit(\''+ ${p.id} + '\');'"><i class="fa fa-edit"></i>&nbsp;EDIT
                </button>

                <!-- Delete Button -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                        th:attr="data-target='#deleteModal'+${p.id}"><i class="fa fa-trash"></i>&nbsp;HAPUS
                </button>

                <!--Delete Form-->
                <div class="modal modal-warning fade in" th:id="deleteModal+${p.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!--Modal Header-->
                            <div class="modal-header">
                                <h4 class="modal-title w-100">Hapus Posisi</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!--Modal Body-->
                            <div class="modal-body">
                                <h3>Are you sure want to delete this user?</h3>
                            </div>

                            <!--Modal Footer-->
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary"
                                   th:href="@{/roles/delete/{id}(id=${p.id})}"><i
                                        class="fa fa-check"></i>&nbsp;Yes</a>
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>