<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Rumah Sakit</title>
    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>

<!--Footer-->
<div id="footer" class="page-footer text-center" th:fragment="footer">
    <p>&copy;2019 - Andhika Tanaka </p>
</div>
</body>
</html>