<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Rumah Sakit</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-lightblue" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">Home</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/roles/}">POSISI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/}">USER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clinics/}">POLI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/schedules/}">JADWAL</a>
                </li>
            </ul>
        </div>

        <div sec:authorize="hasRole('PEGAWAI')">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/}">USER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registrations/}">REGISTRASI</a>
                </li>
            </ul>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </div>
</nav>
</body>
</html>