<div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title w-100">Detail User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="row text-center table-responsive">
                <table class="table" th:each="u : ${user}">

                    <tr scope="row">
                        <td>Name</td>
                        <td th:text="${#strings.capitalize(u.firstName)} + ' ' + ${#strings.capitalize(u.lastName)}">
                            Name
                        </td>
                    </tr>

                    <tr scope="row">
                        <td>Nomor ID</td>
                        <td th:text="${u.idNumber}">Nomor ID</td>
                    </tr>

                    <tr scope="row">
                        <td>Tanggal Lahir</td>
                        <td th:text="${u.dob}">TL</td>
                    </tr>

                    <tr scope="row">
                        <td>Email</td>
                        <td th:text="${u.email}">Email</td>
                    </tr>

                    <tr scope="row">
                        <td>Alamat</td>
                        <td th:text="${#strings.capitalize(u.address)}">Alamat</td>
                    </tr>

                    <tr scope="row">
                        <td>Nomor Telp</td>
                        <td th:utext="${u.phone1} + ' <br /> ' + ${u.phone2}">Telp</td>
                    </tr>

                    <tr scope="row">
                        <td>Jenis Kelamin</td>
                        <td th:text="${#strings.capitalize(u.gender)}">Alamat</td>
                    </tr>

                    <tr scope="row">
                        <td>Posisi</td>
                        <td>
                            <span th:each="p,iterStat : ${u.roles}">
                            <span th:text="${p.title} + ' - ' + ${p.name}"/><th:block th:if="${!iterStat.last}"><br/></th:block>
                            </span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>