<!--Table-->
<div class="row text-center table-responsive" th:fragment="userList" id="resultList">
    <table class="table">

        <thead>
        <th scope="col">Nama</th>
        <th scope="col">Nomor ID</th>
        <th scope="col">TTL</th>
        <th scope="col">Email</th>
        <th scope="col">Alamat</th>
        <th scope="col">Nomor Telepon</th>
        <th scope="col">Detail</th>
        <th scope="col-sm-4">Aksi</th>
        </thead>

        <tbody>
        <tr scope="row" th:each="u : ${users}">
            <td th:text="${#strings.capitalize(u.firstName)} + ' ' + ${#strings.capitalize(u.lastName)}">Name</td>
            <td th:text="${u.idNumber}">Nomor ID</td>
            <td th:text="${u.dob}">TTL</td>
            <td th:text="${#strings.capitalize(u.gender)}">Jenis Kelamin</td>
            <td th:text="${#strings.capitalize(u.address)}">Alamat</td>
            <td th:utext="${u.phone1} + ' <br /> ' + ${u.phone2}">Telp</td>
            <td>
                <!--Edit Button-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal"
                        th:onclick="'detail(\''+ ${u.id} + '\');'">Detail</button>

            </td>
            <td>

                <!--Edit Button-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                        th:onclick="'edit(\''+ ${u.id} + '\');'"><i class="fa fa-edit"></i></button>

                <!--Delete Button-->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                        th:attr="data-target='#deleteModal'+${u.id}"><i class="fa fa-trash"></i>
                </button>

                <!--Delete Form-->
                <div class="modal modal-warning fade in" th:id="deleteModal+${u.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!--Modal Header-->
                            <div class="modal-header">
                                <h4 class="modal-title w-100">Hapus Posisi</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                            </div>

                            <!--Modal Body-->
                            <div class="modal-body">
                                <h3>Are you sure want to delete this user?</h3>
                            </div>

                            <!--Modal Footer-->
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary"
                                   th:href="@{/users/delete/{id}(id=${u.id})}"><i
                                        class="fa fa-check"></i>&nbsp;Yes</a>
                                <button type="button" class="btn btn-danger pull-left"
                                        data-dismiss="modal">
                                    <i
                                            class="fa fa-times"></i>&nbsp;Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
