<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Rumah Sakit</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/assets/main.css'
          th:href="@{/assets/main.css}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<!--Header-->
<div id="header" th:replace="fragments/header :: header"></div>

<!--Navbar-->
<div th:replace="fragments/navbar :: navbar"></div>

<div id="main-page" class="container-fluid text-center">
    <!--Content-->
    <div id="main" class="col d-flex align-items-center">
        <div id="includedContent" class="container fill">
            <div class="row text-center content-border">

                <!-- Upper Left Main -->
                <!-- Add Button -->
                <div class="col-sm-6">
                    <button type="button" id="btn-add" class="btn btn-primary" data-toggle="modal"
                            data-target="#addModal"><i
                            class="fa fa-plus"></i>&nbsp;TAMBAH
                    </button>
                </div>

                <!-- Upper Right Main -->
                <div class="col-sm-6">
                    <form class="form-inline my-2 my-lg-0">

                        <!--Search Box-->
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

                        <!--Search Button-->
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>

            <!--Table-->
            <div th:replace="clinics/list-clinic"></div>
        </div>
    </div>
</div>

<!--Footer-->
<div id="footer" th:replace="fragments/footer :: footer"></div>

<!-- Form Add -->
<div class="modal" id="addModal"></div>

<!--Form Edit-->
<div class="modal" id="editModal"></div>

<script>
    $('#btn-add').click(function () {
        $("#addModal").load("/clinics/add");
    });

    function retrieveList(){
        var url = '/clinics/list';

        if($('#searchKeyword').val()!= ''){
            url = url + '/' + $('#searchKeyword').val();
        }

        $('#resultList').load(url);
    }

    function edit(id) {
        var url = '/clinics/edit/' + id;
        $("#editModal").load(url);
    }
</script>
</body>
</html>