<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistem Informasi Rumah Sakit</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<!--Header-->
<div id="header" th:replace="fragments/header :: header"></div>

<!--Navbar-->
<div th:replace="fragments/navbar :: navbar"></div>

<!--Main Page-->
<div id="main-page" class="container-fluid d-flex align-items-center text-center">
    <!--Content-->
    <div id="main" class="col d-flex align-items-center">
        <div id="includedContent" class="container fill">
            <div class="row">

                <div class="card col align-items-center">
                    <img class="card-img-top" th:src="@{/img/web.png}" lt="Card image" style="width:50%">
                    <div class="card-body">
                        <h4 class="card-title">ADMIN</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                        <a th:href="@{/welcome}" class="btn btn-primary">Admin</a>
                    </div>
                </div>

                <div class="card col align-items-center">
                    <img class="card-img-top" th:src="@{/img/nurse.png}" alt="Card image" style="width:50%">
                    <div class="card-body">
                        <h4 class="card-title">PEGAWAI</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                        <a th:href="@{/welcome}" class="btn btn-primary">Pegawai</a>
                    </div>
                </div>

                <div class="card col align-items-center">
                    <img class="card-img-top" th:src="@{/img/doctor.png}" alt="Card image" style="width:50%">
                    <div class="card-body">
                        <h4 class="card-title">DOKTER</h4>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                        <a th:href="@{/welcome}" class="btn btn-primary">Dokter</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Footer-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>