<div class="row text-center table-responsive" th:fragment="registrationList" id="resultList">
    <table class="table">
        <thead>
        <th scope="col">Nomor</th>
        <th scope="col">Tanggal Periksa</th>
        <th scope="col">Nama Pasien</th>
        <th scope="col">Nama Dokter</th>
        <th scope="col">Aksi</th>
        </thead>

        <tr scope="row" th:each="r : ${registrations}">
            <td th:text="${r.number}">Number</td>
            <td th:text="${r.checkupDate}">Doctor</td>
            <td th:text="${r.patients.firstName} + ' ' + ${r.patients.lastName}">Doctor</td>
            <td th:text="${r.doctors.firstName} + ' ' + ${r.doctors.lastName}">Doctor</td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                        th:attr="data-target='#deleteModal'+${r.id}"><i class="fa fa-trash"></i>&nbsp;HAPUS
                </button>
                <!--Delete Form-->
                <div class="modal modal-warning fade in" th:id="deleteModal+${r.id}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!--Modal Header-->
                            <div class="modal-header">
                                <h4 class="modal-title w-100">Hapus Registrasi</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!--Modal Body-->
                            <div class="modal-body">
                                <h3>Apakah anda yakin ingin menghapus data registrasi?</h3>
                            </div>

                            <!--Modal Footer-->
                            <div class="modal-footer">
                                <a type="button" class="btn btn-primary"
                                   th:href="@{/registrations/delete/{id}(id=${r.id})}"><i
                                        class="fa fa-check"></i>&nbsp;Yes</a>
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                                    <i class="fa fa-times"></i>&nbsp;Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>